@use "../abstracts";

html.dark {
  --text-color: #fff;
  --icon-color: brightness(0) saturate(100%) invert(99%) sepia(1%) saturate(7500%)
    hue-rotate(208deg) brightness(105%) contrast(101%);

  --body-bg: #292e39;
  --header-bg-color: #171c28;
  --top-act-group-bg-color: #292e39;
  --top-act-group-shadow: rgba(0, 0, 0, 0.2);
  --top-act-group-separate: #ededf6;

  @include abstracts.screen(lg) {
    --header-shadow-color: rgba(0, 0, 0, 0.2);
  }

  // dropdown
  --dropdown-bg-color: #2f3441;
  --dropdown-shadow-color: rgba(23, 28, 40, 0.4);
  --dropdown-arrow-color: brightness(0) saturate(100%) invert(17%) sepia(27%) saturate(487%)
    hue-rotate(185deg) brightness(89%) contrast(88%);

  --top-menu-border-color: #171c28;
  --top-menu-icon-color: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7464%)
    hue-rotate(49deg) brightness(105%) contrast(95%);

  // Header
  --header-act-dropdown-bg-color: #2f3441;
  --header-act-dropdown-shadow-color: rgba(23, 28, 40, 0.4);

  --header-act-dropdown-border-color: #171c28;

  // Sidebar
  --sidebar-bg: #292e39;
  --sidebar-shadow-color: rgba(23, 28, 40, 0.4);

  // Category item
  --cate-item-bg: #171c28;
  --cate-item-thumb-bg: #292e39;
  --cate-item-title: #fff;

  // Buttons
  --filter-btn-color: #fff;
  --filter-btn-bg-color: #171c28;

  // Product card
  --product-card-bg: #171c28;
  --product-card-shadow: rgba(0, 0, 0, 0.2);

  // Filter form
  --filter-form-bg: var(--dropdown-bg-color);
  --filter-form-shadow: rgba(0, 0, 0, 0.4);
  --filter-form-arrow-color: var(--dropdown-arrow-color);

  // Auth
  --auth-content-bg: #292e39;
  --auth-intro-bg: #171c28;
  --auth-intro-text: #b9babe;
  --auth-content-heading: #b9babe;

  // Form
  --form-placeholder-color: #b9babe;
  --form-tag-bg: #171c28;
  --form-select-dialog-bg: #2f3441;
  --form-select-dialog-shadow: rgb($color: #fff, $alpha: 0.15);
  --form-option-hover-bg: #292e39;

  // Product detail
  --product-page-bg: #292e39;
  --prod-info-bg: #171c28;
  --prod-info-content-bg: #171c28;
  --prod-info-content-shadow: rgba(0, 0, 0, 0.2);
  --prod-info-tag-bg: #292e39;

  @include abstracts.screen(md) {
    --product-page-bg: #292e39;
    --prod-info-bg: #171c28;
  }

  // Breadcrumbs
  --breadcrumbs-bg-color: #171c28;
  --breadcrumbs-shadow: rgba(23, 28, 40, 0.2);

  // Search bar
  --search-bar-bg: #171c28;

  // Preview card
  --preview-card-bg: #171c28;

  // text content
  --text-content-hr-bg: #3e4043;

  // Checkout
  --checkout-breadcrumbs-bg: #171c28;
  --checkout-cart-info-bg: #171c28;
  --checkout-cart-info-shadow: rgba(23, 28, 40, 0.2);
  --checkout-border-color: #292e39;
  --checkout-gift-shadow: rgba(23, 28, 40, 0.2);
  --checkout-payment-item-bg: #292e39;

  // Dialog
  --dialog-bg-color: #2f3441;
  --dialog-shadow: rgba(23, 28, 40, 0.2);
}
