.account-info {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-radius: 10px;
  background: var(--account-info-bg);

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    background-color: var(--account-info-icon-bg);

    height: 54px;
    width: 54px;
    border-radius: 8px;
  }

  &__title {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 146.667%;
  }

  &__desc {
    font-size: 1.4rem;
    font-style: normal;
    line-height: 142.857%;
  }
}
