.dropdown {
  position: absolute;
  left: 0;

  width: min(1240px, 100%);
  padding-top: 50px;
  // visibility: hidden;
  // opacity: 0;
  // height: 0;
  transition: visibility, opacity, height;
  transition: 0.3s ease-in;

  &__inner {
    --inner-max-height: min(582px, 100vh - 158px);
    --inner-padding: 30px;

    position: relative;
    max-height: var(--inner-max-height);
    padding: var(--inner-padding);
    background: var(--dropdown-bg-color);

    border-radius: 20px;
    box-shadow: 0px 40px 90px 20px var(--dropdown-shadow-color);
    overflow-y: auto;

    &::before {
      content: url(../icons/dropdown-arrow.svg);
      position: absolute;
      top: -13px;
      left: var(--arrow-left-pos);
      translate: -50%;
      filter: var(--dropdown-arrow-color);
    }
  }
}

.top-menu {
  max-height: calc(var(--inner-max-height) - var(--inner-padding) * 2);

  &__main {
    width: 292px;
    max-height: inherit;
    border-right: 1px solid var(--top-menu-border-color);

    overflow-y: auto;
  }
}

.menu-column {
  display: flex;
  gap: 14px;

  &__icon {
    position: relative;
    width: 36px;
    height: 36px;
    flex-shrink: 0;
  }

  &__icon-1 {
    width: 30px;
    height: 30px;
    object-fit: cover;
  }

  &__icon-2 {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 24px;
    height: 24px;
    filter: var(--top-menu-icon-color);
  }

  &__content {
    flex: 1;
    margin-top: 6px;
  }

  &__title {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 150%;
    user-select: none;
  }

  &__list {
    margin-top: 19px;
  }

  &__link {
    display: block;
    padding: 7px 0;

    font-size: 1.4rem;
    line-height: 142.857%;

    &:hover {
      color: #0071dc;
      font-weight: 500;
    }
  }
}
