@use "../abstracts";

.dropdown {
  position: absolute;
  left: 0;
  width: min(1240px, 100%);
  padding-top: 54px;
  visibility: hidden;
  opacity: 0;
  transition: visibility, opacity, height;
  transition: 0.3s linear;

  @include abstracts.breakpoint(lg) {
    position: initial;
    padding-top: 0;
    transition: none;
    height: 0;
  }

  &__inner {
    --inner-padding: 30px;
    height: inherit;
    position: relative;
    padding: var(--inner-padding);
    background: var(--dropdown-bg-color);
    border-radius: 20px;
    box-shadow: 0px 40px 90px 20px var(--dropdown-shadow-color);

    &::before {
      content: url(../icons/dropdown-arrow.svg);
      position: absolute;
      top: -13px;
      left: var(--arrow-left-pos);
      translate: -50%;
      filter: var(--dropdown-arrow-color);
    }

    @include abstracts.breakpoint(lg) {
      padding: 0 40px;

      border-radius: 0;
      background-color: transparent;
      box-shadow: none;

      &::before {
        content: none;
      }
    }

    @include abstracts.breakpoint(sm) {
      padding: 0 20px;
    }
  }
}

.top-menu {
  --main-column-width: 292px;
  --max-inner-height: calc(min(582px, 100vh - 158px) - var(--inner-padding) * 2);
  position: relative;
  height: inherit;

  &__main {
    width: var(--main-column-width);
    height: var(--max-inner-height);
    border-right: 1px solid var(--top-menu-border-color);
    overflow-y: auto;

    @include abstracts.breakpoint(lg) {
      width: 100%;
      height: inherit;
      border-right: none;
    }
  }
}

.menu-column {
  display: flex;
  gap: 14px;

  @include abstracts.breakpoint(lg) {
    margin-top: 10px;
    height: auto;
  }

  + .menu-column {
    margin-top: 20px;
  }

  &__icon {
    position: relative;
    width: 36px;
    height: 36px;
    flex-shrink: 0;
    object-fit: contain;

    @include abstracts.breakpoint(xl) {
      display: none;
    }

    @include abstracts.breakpoint(lg) {
      display: block;
    }
  }

  &__icon-1 {
    width: 30px;
    height: 30px;
    object-fit: contain;
  }

  &__icon-2 {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 24px;
    height: 24px;
    filter: var(--top-menu-icon-color);
  }

  &__content {
    flex: 1;
  }

  &__heading {
    margin-top: 4px;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 150%;
    user-select: none;

    @include abstracts.breakpoint(lg) {
      margin-bottom: 26px;
    }
  }

  &__list {
    margin-top: 19px;

    @include abstracts.breakpoint(lg) {
      margin-top: 0;
    }
  }

  &__item {
    &--active .sub-menu {
      display: grid;
    }
  }

  &__item--active > &__link,
  &__item:hover > &__link {
    color: #0071dc;
    font-weight: 500;
  }

  &__link {
    display: block;
    padding: 7px 0;

    font-size: 1.4rem;
    line-height: 142.857%;
  }
}

.sub-menu {
  position: absolute;
  inset: 0 0 0 var(--main-column-width);
  padding-left: var(--inner-padding);

  display: none;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--inner-padding);
  overflow-y: auto;

  @include abstracts.breakpoint(lg) {
    position: initial;
    inset: initial;
    grid-template-columns: 1fr;
    padding-left: 0;
  }

  &--not-main {
    display: grid;
    height: var(--max-inner-height);
    position: initial;
    inset: initial;
    padding-left: 0;
    grid-template-columns: repeat(4, 1fr);

    @include abstracts.breakpoint(lg) {
      grid-template-columns: 1fr;
      height: inherit;
    }
  }
}
